.left-transition {
  display: grid; 
  grid-template-columns: 4fr 6fr;
}

.right-transition {
  display: grid;
  grid-template-columns: 6fr 4fr; 
}

.transition-picture {
  width: 100%;
}

/* All number IDs are put under the class of rectangle class */
.number {
  font-family: Francois One;
  font-size: 90px;
}

#num-odd {
  margin-left: 80px;
  margin-top: 0px;
}

#num-even {
  margin-top: 0px;
  margin-right: 20%;
  text-align: right;
}



/* All rectangle IDs are put under the class of rectangle class */
.rectangle {
  width: 114px;
  height: 132px;
  background-color: rgba(1, 126, 148, 0.65);
  border: none;
}

#rectangle-odd {
  position: relative;
  left: 126px;
}

#rectangle-even {
  position: relative;
  left: 70%;
}

