.highlight-content-box {
  display: flex; 
  align-items: center; 
  height: 604px;
}

.highlight-content-image {
  width: 609px;
}

.profile-image {
  width: 609px;
  height: 604px;
}

.highlight-content-description {
  flex: 1;
  height: 604px;
  background-color: #bae5a0;
}

h1 {
  font-family: Francois One;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  text-align: center;

  margin-inline: 82px;
  margin-top: 116px;
}

.short-description
{
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  text-align: justify;

  margin-inline: 82px;
}

.highlight-button {
  

  background-color: #018BA2;
  
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: Francois One;

  border: none; 
  border-radius: 21px;


  padding-inline: 23px;
  padding-top: 11px;
  padding-bottom: 11px;

  margin-left: 190px;
  margin-top: 20px;
  transition: opacity 0.15s;
  cursor: pointer;
}

.highlight-button:hover {
  opacity: 0.7;
}